#logo {
    position: absolute;
    top: -20px;
    left: 12px;
    height: 120px;
    display: none;
}

#menu .nav a:hover {
    background-color: #B30E24;
}

.small_header {
    background-color: #1A1718;    
}

.small_header .nav a {
    color: #fff !important;
}

#services p {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 40px;
}

#services a {
    color: black;
    border-bottom: 1px dotted;
}

#services a:hover, #services a:focus {
    border-bottom: none;
    color: #B30E24;
}

h1.section_name {
    margin-bottom: 50px;
}

.fr_simple_btn:hover {
    background-color: #B30E24;
    color: #fff;
}

#about {
    background-image: url('../images/slider/M3---location-3A.jpg');
}

#about .bio h2 {
    font-size: 50px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#about .bio h3 {
    text-transform: uppercase;
    margin-bottom: 5px;
}

section.bio {
    width: 60%;
}

.masonry .entry {
    width: 310px;
}

#blog_wrapper {
    width: 80%;
    margin: 0 auto;
}

.fr_slide_image {
    background-repeat: no-repeat;
    background-color: black;
    background-position: bottom;
}

#fr_contact {
    background-image: url('../images/slider/BM-M3-Re2.jpg');
}

.fr_converse_gray {
    background-color: #535353;
    color: white;
}

.fr_converse_gray:before {
    border-color: #fff #fff #535353 #fff !important;
    background-color: #fff;
}

.pagenavi a, .pagenavi a:link, .pagenavi a:visited, .pagenavi span.current, .pagination a, .pagination span.current {
    width: auto;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.pagenavi a:hover, .pagenav a:focus, .active-tab {
    background-color: #B30E24 !important;
}

a:hover {
    color: #B30E24;
}

.post img {
    display: inline-block;
}

.post ul {
    list-style-type: none;
    padding: 10px 0 23px 0;
    line-height: 20px;
    font-size: 13px;
}

#filters {
    text-align: center;
    margin-bottom: 40px;
}

#filters button {
    cursor: pointer;
}

.wheel_sizes li, #filters button {
    display: inline-block;
    padding: 0px 10px;
    background-color: #444;
    color: #fff;
    font-size: 13px;
    line-height: 2;
    border-radius: 3px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 4px;
}

#filters button:hover, #filters button:focus {
    background-color: #B30E24;
}

#recent-work #fullPreview img, #recent-work #fullPreview .fullCaption {
    width: 100% !important;
    display: block;
}

#recent-work li a, #recent-work li .overLayer, #recent-work li .infoLayer {
    width: 200px;
    height: 83px;
}

#header_featured.index {
    background-position: center center fixed;
}

#fr_converse:before {
    border: none;
}

.bg-index {
    background-image: url('../images/slider/M3---location-1B.jpg')
}
.bg-collection {
    background-image: url('../images/slider/M3---location-3A.jpg')
}
.bg-showroom {
    background-image: url('../images/slider/BM-M3-Re2.jpg')
}
.bg-contact {
    background-image: url('../images/slider/M3---location-1B.jpg')
}

address {
    text-align: center;
    font-size: 1.2em;
    margin-top: -30px;
}

.contact-information a {
    color: #AAAAAA;
}

.clearfix {
    clear: both;
}